.button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;

    &.style-1 {
        background-color: $blue;

        &:hover {
            background-color: darken($blue, 5%);
        }

        span {
            color: $white;
        }
    }

    span {
        @include font-size(14px);

        display: block;
    }
}

@import 'responsive/button';
