.alert {
    @include font-size(14px);

    line-height: 1.4;
    padding: 14px 12px;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    position: relative;

    &.success {
        color: $green;
        background-color: rgba($green, 0.1);
        border-color: rgba($green, 0.3);
    }

    &.error {
        color: $red;
        background-color: rgba($red, 0.1);
        border-color: rgba($red, 0.3);
    }

    a {
        text-decoration: underline;
    }
}

@import 'responsive/alert';
